﻿@model InflationaryEnglish.Models.EnglishTextModel

@{
    ViewBag.Title = "Welcome to Inflationary English!";
}

<div class="jumbotron">
    <div class="alert alert-info" role="alert">
        Converts a sentence from English to Inflationary English. Inflationary English takes words and word parts that sound the same as a number (e.g. "won" v. "one") and then inflates that to the next number (e.g. "won" becomes "two")
    </div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new {id = "InflationaryEnglish"}))
    {
        @Html.AntiForgeryToken()

        <input name="englishText" type="text" value="@Model.EnglishText" style="width: 100%"/>

        <div class="alert alert-success" role="alert">
            @Model.InflatedEnglishText
        </div>

        <input type="submit" value="Inflate English!"/>
    }
</div>